@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sourceSansPro;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.standard-button {
  @apply bg-black-500 text-cream-500 border border-black-500 text-base font-sourceSansPro font-light tracking-widest transition-colors cursor-pointer hover:bg-black-500 duration-300 py-3 px-8 rounded-full uppercase focus:outline-none;
}

.standard-button:hover {
  @apply bg-cream-500 text-black-500;
}

.border-button {
  @apply border-2 transition-all;
}

.border-button:hover {
  @apply border-white bg-black-500 text-cream-500;
  box-shadow: 0px 0px 40px 2px rgba(33, 33, 33, 0.3);
}

.long-button {
  @apply px-16 text-lg;
}

.transparent-button {
  @apply bg-transparent hover:bg-transparent border text-black-500 border-black-500;
}

.white-button {
  @apply bg-transparent hover:bg-transparent border border-cream-500;
}

.white-button:hover {
  @apply bg-cream-500 text-black-500;
}

.arrow-button {
  @apply flex items-center;
}

.featured-image {
  height: 32rem;
}

@media screen and (max-width: 640px) {
  .featured-image {
    height: 28rem;
  }
}

.bigv {
  position: absolute;
  bottom: -80px;
  z-index: 1;
  width: 100%;
}

.tab-border {
  border-bottom: 1px solid #e0e0e0;
}

.medium-zoom-overlay {
  z-index: 99;
}

.medium-zoom-image--opened {
  z-index: 99;
}

.fill-content-photo div {
  height: 100%;
}

.status-module-loader svg {
  height: 60px;
  width: 60px;
}

.date-background {
  @apply absolute bg-cream-500 right-0 top-0 h-full w-full;
}

.date-background::before {
  @apply w-screen absolute right-full top-0 h-full bg-cream-500;
  content: "";
}

@media screen and (max-width: 640px) {
  .date-background::after {
    @apply w-screen absolute left-full top-0 h-full bg-cream-500;
    content: "";
  }
}

.notif {
  @apply text-sm px-4 py-2 rounded-full mt-2;
}

.error {
  background-color: #feefef;
  color: #da1414;
}

.success {
  background-color: #edf9f0;
  color: #287d3c;
}

.info {
  background-color: #eef2fa;
  color: #2e5aac;
}

.warning {
  background-color: #fff4ec;
  color: #b95000;
}
